<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Producto</title>
    <link rel="stylesheet" href="/assets/css/style6.css">
    <link rel="stylesheet" href="/assets/logout.css">
</head>
<body>
    <a href="/views/login.html" class="logout">Cerrar sesión</a>
    <div class="container">
        <h1>Agregar Producto</h1>
        <form id="form-agregar-producto">
            <input type="text" name="nombre_producto" id="nombre_producto" placeholder="Nombre del Producto" required>
            <input type="number" name="precio" id="precio" placeholder="Precio" step="0.01" min="0" required>
            <button type="submit">Agregar Producto</button>
        </form>
    </div>

    <script src="/assets/script/producto/agregar_producto.js"></script>
    <button onclick="window.location.href='/views/empleado.html'" class="btn-atras">Atrás</button>

</body>
</html>
