<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Producto</title>
    <link rel="stylesheet" href="/assets/logout.css">
    <link rel="stylesheet" href="/assets/css/style8.css">
</head>
<body>
    <a href="/views/login.html" class="logout">Cerrar sesión</a>
    <div class="container">
        <h1>Eliminar Producto</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody id="productosTabla">
                <!-- Aquí se llenarán los productos -->
            </tbody>
        </table>
    </div>

    <button class="back-btn" onclick="window.location.href='empleado.html'">Atrás</button>

    <script src="/assets/script/producto/eliminar_producto.js"></script>
</body>
</html>
